* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  border: 4px solid black;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* align-items: center; */
}
.item {
  height: 10rem;
  width: 10rem;
  background-color: aquamarine;
  border: 1px solid black;
}

nav {
  height: 5rem;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
li {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
}
button {
  /* height: 1.4rem;
  width: 4rem; */
  padding: 0.6rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
}
.btn-login {
  background-color: red;
  border: 2px solid red;
}
.btn-login:hover {
  background-color: transparent;
  color: red;
}

.btn-register {
  background-color: blue;
  border: 2px solid blue;
}
.btns {
  display: flex;
  gap: 2rem;
}
